@model PlexObsOverlay.ViewModels.OverlayViewModel

<img src="thumb.jpg" alt="thumbnail"/>
<div id="metadata">
    <h1 id="title">
        @Model.Title
    </h1>
    <h1 id="artist">
        @Model.Artist
    </h1>
</div>